* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

main {
  margin: 82px 50px;
}

.step_section {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 30px;
}

.cart {
  z-index: 3;
}

.step_bg {
  display: flex;
  justify-content: center; /* untuk pusatkan secara horizontal */
  align-items: center; /* untuk pusatkan secara vertikal */
  position: relative; /* penting untuk posisi absolute di dalamnya */
}

.square-cart {
  width: 350px;
  height: 60px;
  background: #ff8733;
}

.right-triangle-cart {
  width: 0;
  height: 0;
  border-left: 50px solid #ff8733;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 3;
}

.step_text {
  position: absolute; /* agar berada di tengah step_bg */
  display: flex;
  justify-content: center; /* untuk pusatkan teks secara horizontal */
  align-items: center; /* untuk pusatkan teks secara vertikal */
  gap: 10px;
  color: white; /* contoh warna teks */
}

.text-angka {
  background-color: #8b542f; /* Ganti dengan warna yang Anda inginkan */
  color: white; /* Warna teks */
  border-radius: 50%; /* Membuat elemen bulat sempurna */
  width: 36px; /* Lebar elemen */
  height: 36px; /* Tinggi elemen */
  display: flex; /* Menggunakan Flexbox untuk pusatkan teks di dalamnya */
  justify-content: center; /* Pusatkan teks secara horizontal */
  align-items: center; /* Pusatkan teks secara vertikal */
  font-size: 20px; /* Ukuran font, sesuaikan sesuai kebutuhan */
  margin: 0; /* Pusatkan elemen jika diperlukan */
}

.text-label {
  margin-top: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #8b542f;
}

.delivery {
  margin-left: -50px;
}

.peyment {
  margin-left: -50px;
}
.square_payment {
  width: 380px;
  height: 60px;
  background: #f8f1e6;
}

.right-triangle_payment {
  width: 0;
  height: 0;
  border-left: 50px #f8f1e6;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.delivery {
  z-index: 2;
}

.payment {
  z-index: 1;
}

.card-content {
  margin-left: 28px;
  margin-top: 40px;
  background-color: #f9f9f5;
  width: 1090px;
  height: 930px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.square_deliv {
  width: 350px;
  height: 60px;
  background: #ff8733;
}

.right-triangle_deliv {
  width: 0;
  height: 0;
  border-left: 50px solid #ff8733;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 3;
}

.guest p {
  padding-left: 24px;
  padding-top: 12px;
  font-size: 20px;
  font-weight: 600;
}

input[type="text"] {
  display: flex;
  width: 400px;
  padding: 12px 20px;
  margin-left: 24px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 16px;
}

.border-left {
  display: flex;
}

hr {
  color: #8b542f;
}
.vertical {
  border-left: 2px solid #8b542f;
  height: 876px;
  width: 1px;
  margin-left: 50px;
}

.card-content {
  display: flex;
}

.lokasi {
  font-size: 20px;
  font-weight: 600;
  padding-left: 24px;
  padding-top: 12px;
}

.set {
  padding-left: 24px;
}

iframe {
  margin: 12px 24px;
  width: 550px;
}

.alamat {
  padding-left: 24px;
  padding-top: 24px;
}

.form-alamat textarea {
  width: 550px;
}

.form-alamat textarea[type="text"] {
  padding: 12px 12px 100px 12px;
  margin-left: 24px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 8px;
}

button {
  background-color: #ff8733;
  color: white;
  display: flex;
  padding: 12px 240px;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 24px;
  margin-top: 12px;
  margin-bottom: 16px;
  border: none;
}
a {
  text-decoration: none;
}
